{% extends "home/base.html" %}
{% block title %}PPE Disposal Guidelines{% endblock %}
{% load static %}
{% block content %}         <!-- END NAV -->

    <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
        <br>
        <br>
        <h1><strong>WHO recommends to follow certain guidelines for health professionals to safely dispose off theri PPE.So we have compiled a step by step illustration on how to dispose</strong></h1><br>
            <!-- Developers -->
            <div class="row columns">
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				<p class="title is-4 no-padding">Step:1</p>
                                <img src="{% static 'removeppe.png'%}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    
                                   
                                    
                                </div>
                            </div>
                            <div class="content">
                                Always remove PPE under
				the guidance and supervision of a trained observer (colleague). Ensure that
				infectious waste containers are available in the doffing area for safe disposal
				of PPE. Separate container should be available for reusable items.

                            
                            </div>
                        </div>
                    </div>
                </div>
                
                 <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:2.</p>
                                <img src="{% static 'hand.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                               <strong>Perform hand hygiene on
				gloved hands </strong><br>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

	<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:3.</p>
                                <img src="{% static 'apron.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                               Remove apron leaning forward and taking care to avoid contaminating your hands. When
					removing disposable apron, tear it off at the neck and roll it down without
					touching the front area. Then untie the back and roll the apron forward
                               
                                
                            </div>
                        </div>
                    </div>
                </div>	
             </div>
<div class="row columns is-multiline">
 	<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:4.</p>
                                <img src="{% static 'hand.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                               <strong>Perform hand hygiene on
				gloved hands </strong><br>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:5.</p>
                                <img src="{% static 'gloves.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                               Remove outer pair of gloves and dispose of them safely.
				Use the technique shown in Step 17  
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:6.</p>
                                <img src="{% static 'hand.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Perform hand hygiene on gloved hands
                               
                                
                            </div>
                        </div>
                    </div>
                </div>


<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:7.</p>
                                <img src="{% static 'headcover.jfif' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                             Remove head and neck covering taking care to avoid  contaminating your face by starting from the bottom
				of the hood in the back and rolling from back to front and from inside to outside, and dispose of it safely.
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:8.</p>
                                <img src="{% static 'hand.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Perform hand hygiene on gloved hands
                               
                                
                            </div>
                        </div>
                    </div>
                </div>


<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:9.</p>
                                <img src="{% static 'gown.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                            Remove the gown by untying the knot first, then pulling from back to front rolling it from inside to outside and dispose of it safely.
                               
                                
                            </div>
                        </div>
                    </div>
                </div>


<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:10.</p>
                                <img src="{% static 'hand.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Perform hand hygiene on gloved hands
                               
                                
                            </div>
                        </div>
                    </div>
                </div>


<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:11.</p>
                                <img src="{% static 'eyepro.jfif' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Remove eye protection by pulling the string from behind the head and dispose of it safely.
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:12.</p>
                                <img src="{% static 'hand.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Perform hand hygiene on gloved hands
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:13.</p>
                                <img src="{% static 'mask.jfif' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Remove the mask from behind the head by first untying the bottom string above the head and leaving it hanging in front;
				and then the top string next from behind head and dispose of it safely. 
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:14.</p>
                                <img src="{% static 'hand.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Perform hand hygiene on gloved hands
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:15.</p>
                                <img src="{% static 'removeboot.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                             Remove rubber boots without touching them (overshoes if wearing shoes). If the same boots are to be used outside of the high-risk zone, keep
				them on but clean and decontaminate appropriately before leaving the doffing area.
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:16.</p>
                                <img src="{% static 'hand.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Perform hand hygiene on gloved hands
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:17.</p>
                                <img src="{% static 'removeglove.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Remove gloves carefully with appropriate technique and dispose of them safely
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

<div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
				 <p class="title is-4 no-padding">Step:18.</p>
                                <img src="{% static 'handhyg.jpg' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                   
                                    
                                    
                                </div>
                            </div>
                            <div class="content">
                              Perform hand hygiene on  hands
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

            <!-- End Developers -->

            <!-- Staff -->
         </div>  <!-- End Staff -->
        </div>
    </div>

{% endblock content %} 